* {
    font-family: "Cormorant Upright";
}

:root {
    --cPrincipal: rgb(181, 181, 131);
    --cSecundario: rgb(244, 244, 237);
    --cFondo: white;
    --cTexto: black;

}


header {
    background-image: url("../img/bg-header.png");
    background-size: cover;
    height: 100vh;
}

h1,h2,h3,p{
    color: var(--cTexto);
}

h1,
h2 {
    font-family: "Dancing Script";
}

h1 {
    font-style: italic;
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
    padding-top: 2rem;
}

p {
    font-size: 1rem;
}

main {
    background-color: var(--cFondo);
}

td {
    font-size: 1.4rem;
    text-align: center;
}

span{
    background-color: var(--cPrincipal);
    padding: .5rem;
    border-radius: 5px;
    color: white;
}

th {
    color: #666666;
    text-align: center;
    font-size: .9rem;   
}

.icono {
    width: 70px;
}

.enlace {
    background-color: var(--cPrincipal);
    color: white;
    border: 1px solid var(--cPrincipal);
    text-decoration: none;
}

.agendarFecha{
    color: var(--cTexto);
    border: 1px solid black;
    text-decoration: none;
}

.agendarFecha:hover{
    font-weight: bolder;
    border-width: 2px;
}

.banco {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8rem;
    color: #666666;
    margin: 3px;
}


#ceremonia{
    background-image: url("../img/bg-hojas0.png");
    background-size: cover;

}

#recepcion {
    background-image: url("../img/bg-hojas1.png");
    background-size: cover;
}

#regalo{
    background-image: url("../img/bg-hojas1.png");
    background-size: cover;
}

#vestimenta{
    background-image: url("../img/bg-hojas2.png");
    background-size: cover;
}

#noNinos{
    background-image: url("../img/bg-floresblancas.png");
    background-size: cover;
}

#asistencia {
    background-color: var(--cSecundario);
}

footer {
    background-color:black ;
    
}

footer p{
    color:white ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .6rem;
}

footer img:hover{
    scale: 1.2;
}
